/*
 * Pipelines parameters
 */

params {
	/*
	 * Key files
	 */
		//path to .csv file containig bam paths and sample ids
		ctfile = "${projectDir}/files/celltypes.csv"
		//path to seurat object in rds format to generate cell type loom files from
		seuratobject = "seuratobject.rds"

	/*
	 * Non-file paths
	 */
		
                //path to R conda
                rconda = "rconda"
		//path to pyscenic conda
		psconda = "pyscenic"
	
	/*
	 * Accessory files
	 */
		//file of transcription factors from relevant genome for grn step of workflow	
                tffile = "allTFs_hg38.txt"
		//pattern match to databases ranking the whole genome of your species of interest based on regulatory features (i.e. transcription factors) in feather format
		fthrfiles = "*.feather"
		//motif to TF annotations database providing the missing link between an enriched motif and the transcription factor that binds this motif
	 	motif2tf = "motifs-v10nr_clust-nr.hgnc-m0.001-o0.0.tbl"	
	/*
	 * Script options
	 */
		//name of cell type column in seurat object
		ctcol = "celltype"
                //docker option
                docker.enabled = true	
}


/*
 * Executor config
 */

process {
    executor = 'slurm'
    queue = 'day'
    memory = '30 GB'
    time = '12h'

    withName: mk_loom_files {
    queue = 'day'
    memory = { 20.GB * ( seurat.size() / (1024 ** 3)) }
    time = '24h'
    cpus = 4
    }

    withName: grn {
    queue = 'week'
    memory = { loomfile.size() < 0.2 * (1024 ** 3) ? 20.GB : 150.GB * ( loomfile.size() / (1024 ** 3)) }
    time = '120h'
    cpus = 4
    }

    withName: add_cor {
    queue = 'day'
    memory = { loomfile.size() < 0.2 * (1024 ** 3) ? 20.GB : 50.GB * ( loomfile.size() / (1024 ** 3)) }
    time = '24h'
    cpus = 1
    }

    withName: ctx {
    queue = 'week'
    memory = { loomfile.size() < 0.2 * (1024 ** 3) ? 40.GB : 100.GB * ( loomfile.size() / (1024 ** 3)) }
    time = '120h'
    cpus = 4
    }

    withName: auc {
    queue = 'day'
    memory = { loomfile.size() < 0.2 * (1024 ** 3) ? 20.GB : 100.GB * ( loomfile.size() / (1024 ** 3)) }
    time = '24h'
    cpus = 1
    }

}

conda.enabled = true


